n8n_workflows/chatbot.json
{
  "name": "chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        0
      ],
      "id": "7260d639-94b4-434f-8d9d-78ea6fc8b96f",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        208
      ],
      "id": "48c707fd-01c7-472d-9c51-55d0fa5a0457",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LjQ5aJMSkH6PVQhJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        688,
        192
      ],
      "id": "fdbb914f-6cbf-4cd6-a1da-6cbf849b4982",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"reply\": $json.output ?? \"\",\n    \"sessionId\": $('Webhook').item.json.body.sessionId ?? \"\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        0
      ],
      "id": "9c633881-4825-4706-b2f2-beb392949155",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3ab3644a-f33a-41bd-91d8-cd6e58a49a6c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "5d47f7dd-8042-4684-842b-fb9adfc9be9a",
      "name": "Webhook",
      "webhookId": "3ab3644a-f33a-41bd-91d8-cd6e58a49a6c"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bcbcebe6-50fb-4283-842b-2fdfabef8308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85f46842b7362d4d50da2a9e53a370bd3970fc12f5adeb44087284c40ee454be"
  },
  "id": "fRC0Ub68Cpetq6aI",
  "tags": []
}