n8n_workflows/Multimodal RAG Agent with Google Drive, Postgres, Azure, OpenWeb-UI.json
{
  "name": "Multimodal RAG Agent with Google Drive, Postgres, Azure, OpenWeb-UI",
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "e64d0390-07b0-4c53-ae4c-751286bfbb28",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2032,
        1280
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 867,
        "width": 3041,
        "color": 5
      },
      "id": "c174c9f9-c058-46c1-a370-d6d8ae627d54",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        768
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "d5b822f5-320f-46fd-9f33-bf24c5e9f4ac",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        1040
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXJUSVgo0fGbieVA",
          "name": "Google Drive cl.shorty01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HVq6bZM-hHXd1omnQDp3JXJnmB_YZL9h",
          "mode": "list",
          "cachedResultName": "AAM-RAG-Input",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HVq6bZM-hHXd1omnQDp3JXJnmB_YZL9h"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "808af419-944a-4d43-89dc-7c10e2658c51",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        896
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXJUSVgo0fGbieVA",
          "name": "Google Drive cl.shorty01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ikDlVU2m82p7FWEIWcnD1kt754HmxjtH",
          "mode": "list",
          "cachedResultName": "Firmeninformationen",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ikDlVU2m82p7FWEIWcnD1kt754HmxjtH"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "3e4c84c5-3d83-40b1-98d3-c872c1bb5c45",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        1056
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXJUSVgo0fGbieVA",
          "name": "Google Drive cl.shorty01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4e17f235-b6ed-4d59-8173-ca85fde2c3dc",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1056
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "7b00889f-288c-493f-90f8-cae3bde8b9f3",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1296,
        864
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "a7a97b28-b15e-4430-8c5b-ee6a02d4ac44",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1504,
        944
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f2a1917c-2c1f-433b-9761-dc5d353254be",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        576,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "1d7e0970-8b6d-43b2-9d0b-20a06b3fa180",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1088,
        864
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        784
      ],
      "id": "0fdb43ce-19d0-4f21-93bf-6cc697022274",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1088,
        1040
      ],
      "id": "2d432eb8-c405-4b09-98e0-9673a19426b7",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        432
      ],
      "typeVersion": 1,
      "id": "df1ff4cd-2d05-4583-830e-e93244941aa8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -592,
        544
      ],
      "id": "61a14b16-612b-4f80-8ca7-666aa5549790",
      "name": "Create Document Metadata Table",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -288,
        544
      ],
      "id": "df73f179-4c18-48ae-bd84-1c21bff8a583",
      "name": "Create Document Rows Table (for Tabular Data)",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        896
      ],
      "id": "f97797c0-32a4-45ee-9569-302ce8ba7e77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}",
            "url": "={{ $('Set File ID').item.json.file_url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        912
      ],
      "id": "b92e3149-e427-4cb1-8b12-f33a54e29312",
      "name": "Insert Document Metadata",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_rows",
          "mode": "list",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1296,
        1040
      ],
      "id": "ed42137c-97fe-4bd0-bc48-20772ffa280e",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1984,
        784
      ],
      "id": "333f9c4d-ddfd-4d66-9ef8-b1bb72544387",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        912
      ],
      "id": "665e337e-cbf8-4598-90b1-d02065726ba8",
      "name": "Delete Old Data Rows",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Set File ID').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        1072
      ],
      "id": "d7b52527-d24a-472a-9586-f2bb020833ea",
      "name": "Delete Old Doc Rows",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1ikDlVU2m82p7FWEIWcnD1kt754HmxjtH' in parents and trashed = true"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,webViewLink,trashed,trashedTime)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "id": "41191c5b-6512-4bd8-80cf-662109dd577e",
      "name": "Get Trashed Files via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        1776
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXJUSVgo0fGbieVA",
          "name": "Google Drive cl.shorty01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the response from Google Drive API\nconst response = $input.first().json;\nconst trashedFiles = response.files || [];\n\n// If no trashed files, return nothing\nif (trashedFiles.length === 0) {\n  return [];\n}\n\n// Return each file as a separate item for processing\nreturn trashedFiles.map(file => ({\n  file_id: file.id,\n  file_name: file.name,\n  file_type: file.mimeType,\n  file_url: file.webViewLink,\n  trashed_time: file.trashedTime\n}));\n"
      },
      "id": "1e213b5f-10d4-4c9c-b619-702be78fc78f",
      "name": "Parse Trashed Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1776
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM document_metadata WHERE id = '{{ $json.file_id }}'",
        "options": {}
      },
      "id": "b81a2a7c-0b27-49b3-9d1c-da4bd772edca",
      "name": "Check If Exists in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -32,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Vector Store Cleanup (Periodically)\nScan the Google Drive Folder regularely and deletes non existent documents from the vector store as well. Put your RAG folder id into the q parameter (HTTP Request). You can find the id inside the Browser URL when entering your RAG Folder.",
        "height": 305,
        "width": 1656,
        "color": 6
      },
      "id": "b8781a29-04f1-4137-a5a3-8fd257daf487",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        1664
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_metadata WHERE id = '{{ $('Parse Trashed Files').first().json.file_id }}'",
        "options": {}
      },
      "id": "eb219a62-cebb-463b-bc6c-d06ecd72d772",
      "name": "Delete Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "0bbe3a59-7444-43e3-b26d-0f99f81036de",
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -608,
        1776
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $('Parse Trashed Files').item.json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        1776
      ],
      "id": "00f99a4e-6d91-472a-a2f8-e6bfaa9bf6fa",
      "name": "Delete Old Data Rows1",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Parse Trashed Files').first().json.file_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        1776
      ],
      "id": "bb76e24c-ed0a-47fe-83fa-5399b8920a58",
      "name": "Delete Old Doc Rows1",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2032,
        1424
      ],
      "id": "861380c0-4153-4c92-94c6-d7fa976698e1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "// Entire code without PromptTemplate usage and with array merge for markdown\n\n// Read input - supports either a single string or an array of strings\nconst markdownInput = $input.item.json?.markdown;\nconst maxChunkSize = 1000;\nconst minChunkSize = 400;\n\nif (!markdownInput || (Array.isArray(markdownInput) && markdownInput.length === 0)) {\n  throw new Error('No document found in input');\n}\n\n// Merge into one string\nconst documentContent = Array.isArray(markdownInput)\n  ? markdownInput.join('\\n\\n') // keep paragraph boundaries\n  : String(markdownInput);\n\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\n\nfunction cleanText(text) {\n  return text.replace(/\\s+/g, ' ').trim();\n}\n\nconst chunks = [];\nlet remainingText = cleanText(documentContent);\nlet chunkNumber = 1;\n\nif (remainingText.length <= maxChunkSize) {\n  chunks.push({\n    content: remainingText,\n    chunk: chunkNumber,\n    chunk_size: remainingText.length,\n  });\n} else {\n  while (remainingText) {\n    const textToAnalyze = remainingText.substring(0, maxChunkSize);\n\n    const promptText = `You are analyzing a document to find the best transition point to split it into meaningful sections.\n\nYour goal: Keep related content together and split where topics naturally transition.\n\nRead this text carefully and identify where one topic/section ends and another begins:\n\n${textToAnalyze}\n\nFind the best transition point that occurs BEFORE character position ${maxChunkSize}.\n\nLook for:\n- Section headings or topic changes\n- Paragraph boundaries where the subject shifts\n- Complete conclusions before new ideas start\n- Natural breaks between different aspects of the content\n\nOutput the LAST WORD that appears right before your chosen split point.\nJust the single word itself, nothing else.\nExample: If you want to split after \"The company was founded in 2022.\" then output: \"2022\"`; // end prompt\n\n    let breakPoint = maxChunkSize;\n\n    try {\n      const response = await llm.invoke(promptText);\n      const responseText = response?.content || response?.text || String(response || '');\n      const breakWord = (responseText || '').trim();\n\n      if (breakWord) {\n        // Find the last occurrence of this word in the analyzed window\n        const wordIndex = textToAnalyze.lastIndexOf(breakWord);\n        if (wordIndex !== -1) {\n          // Split after the word, then skip trailing punctuation and one space\n          breakPoint = wordIndex + breakWord.length;\n\n          while (\n            breakPoint < textToAnalyze.length &&\n            (\n              textToAnalyze[breakPoint] === '.' ||\n              textToAnalyze[breakPoint] === '!' ||\n              textToAnalyze[breakPoint] === '?' ||\n              textToAnalyze[breakPoint] === ',' ||\n              textToAnalyze[breakPoint] === ';' ||\n              textToAnalyze[breakPoint] === ':' ||\n              textToAnalyze[breakPoint] === ' '\n            )\n          ) {\n            breakPoint++;\n            if (textToAnalyze[breakPoint - 1] === ' ') break;\n          }\n\n          breakPoint = Math.min(breakPoint, maxChunkSize);\n        }\n      }\n    } catch (error) {\n      console.log('LLM failed to determine breakpoint, using max size:', error.message);\n      breakPoint = maxChunkSize;\n    }\n\n    const chunk = remainingText.substring(0, breakPoint).trim();\n\n    if (chunk) {\n      chunks.push({\n        content: chunk,\n        chunk: chunkNumber,\n        chunk_size: chunk.length,\n      });\n      chunkNumber++;\n    }\n\n    remainingText = remainingText.substring(breakPoint).trim();\n\n    if (!remainingText) {\n      break;\n    }\n  }\n}\n\n// Merge chunks that are below minimum size with adjacent chunks if possible\nlet i = 0;\nwhile (i < chunks.length) {\n  if (chunks[i].chunk_size < minChunkSize) {\n    // Try to merge with next chunk first if it exists and will not exceed max\n    if (\n      i + 1 < chunks.length &&\n      chunks[i].chunk_size + chunks[i + 1].chunk_size <= maxChunkSize\n    ) {\n      chunks[i].content += ' ' + chunks[i + 1].content;\n      chunks[i].chunk_size = chunks[i].content.length;\n      chunks.splice(i + 1, 1);\n      // Recheck this index\n    } else if (\n      i > 0 &&\n      chunks[i - 1].chunk_size + chunks[i].chunk_size <= maxChunkSize\n    ) {\n      // Merge current into previous\n      chunks[i - 1].content += ' ' + chunks[i].content;\n      chunks[i - 1].chunk_size = chunks[i - 1].content.length;\n      chunks.splice(i, 1);\n      // Current index now points to what was the next chunk\n    } else {\n      // Cannot merge without exceeding max, move on\n      i++;\n    }\n  } else {\n    i++;\n  }\n}\n\nconst returnData = chunks.map((chunk) => ({\n  json: chunk,\n}));\n\nreturn returnData;\n"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "maxConnections": 1,
              "required": true
            },
            {
              "type": "main",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        1536,
        1312
      ],
      "id": "523d151f-1aa8-41ae-a7e9-fde8ac5db8c1",
      "name": "LangChain Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1296,
        1312
      ],
      "id": "88981942-a58b-4e00-876b-d29167441192",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yGwZxRhrkehz7neC",
          "mode": "list",
          "cachedResultUrl": "/workflow/yGwZxRhrkehz7neC",
          "cachedResultName": "Mistral OCR Document Extraction with Images"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1088,
        1312
      ],
      "name": "Call Mistral OCR for Documents",
      "id": "60326cd0-31c2-4494-9e0b-d7325027be75"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d024dcae-9e0a-447d-80f7-ff77df1b4b90",
              "leftValue": "={{ $json.body.chatInput }}",
              "rightValue": "### Task:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        336
      ],
      "id": "eb5b799f-ceb9-4e4e-96e5-109a4e8d3f13",
      "name": "If Task"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        608,
        48
      ],
      "id": "fd0497e3-30ec-4cca-9576-032a4b6c1056",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e7b90b3-631d-4cef-b119-fe4d2bccaf46",
              "name": "output",
              "value": "={{$json.output || $json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        352
      ],
      "id": "feffb0d0-fd0a-48a2-8e96-f88e21ea14e3",
      "name": "Set output"
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 385,
        "width": 487,
        "color": 4
      },
      "id": "fa88e87b-6636-491b-b6b9-15d160df1470",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        352
      ]
    },
    {
      "parameters": {},
      "id": "fa850600-0bd4-4bc0-9557-bc19cd57bb24",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        384,
        576
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface (Open-WebUI)",
        "height": 737,
        "width": 1244
      },
      "id": "5f4b1a3c-5529-4228-aea1-3222c50991f1",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "document_metadata",
          "mode": "list",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        528,
        576
      ],
      "id": "69e0375c-934b-429e-8c84-f485f46740a6",
      "name": "List Documents1",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        672,
        576
      ],
      "id": "faa52b01-6db7-4d6c-8af2-27d299d87f9b",
      "name": "Get File Contents1",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.5,
      "position": [
        816,
        576
      ],
      "id": "aba48146-1433-4c9a-be4d-9b4acab59e14",
      "name": "Query Document Rows1",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "topN": 4
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        1504,
        608
      ],
      "id": "fa3a241f-2c1a-4237-8a32-d9eee0a6167a",
      "name": "Reranker Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "8URi02YfMbJhBZsG",
          "name": "CohereApi Trial-Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        336
      ],
      "id": "876cab1f-9030-47f0-a831-8ba8b2ed2ad8",
      "name": "When chat message received",
      "webhookId": "f0edf776-3539-428c-9670-dc825628aa88"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2a5f5af0-1383-4741-be8e-ebf88e395e46",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3610ed8-98bd-4b66-89fa-52425d45c051",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        544
      ],
      "id": "d62c8cab-41d5-49e4-b3a4-a0c6047268bb",
      "name": "Webhook",
      "webhookId": "c3610ed8-98bd-4b66-89fa-52425d45c051"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6838bf14-df46-4ee7-a866-f0e3d3b67f6c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1088,
        352
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1088,
        1504
      ],
      "id": "8f2c708b-0fb7-4692-86f0-541d63557b52",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_pg",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1936,
        1056
      ],
      "id": "7df1fa16-2214-4a5a-9d62-ce498af6b3f2",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "safcm5oCM7iLGdq0",
          "name": "Postgres Supabase selfhosted"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Du bist ein persönlicher Assistent, der Fragen aus einem Korpus von Dokumenten beantwortet.\nDie Dokumente sind entweder textbasiert (Txt, Docs, extrahierte PDFs usw.) oder tabellarische Daten (CSV- oder Excel-Dokumente).\n\nDir stehen Werkzeuge zur Verfügung, um RAG (Retrieval-Augmented Generation) in der Tabelle „documents_pg“ auszuführen, die verfügbaren Dokumente in der Tabelle „document_metadata“ nachzuschlagen, den gesamten Text aus einem bestimmten Dokument zu extrahieren und tabellarische Dateien mit SQL in der Tabelle „document_rows“ abzufragen.\n\nDu sollst immer mit RAG beginnen, außer wenn die Frage eine SQL-Abfrage für tabellarische Daten erfordert (z. B. eine Summe abrufen, ein Maximum finden – etwas, wofür eine RAG-Suche unzuverlässig wäre). Wenn RAG nicht weiterhilft, sieh dir die verfügbaren Dokumente an, wähle einige aus, von denen du glaubst, dass sie die Antwort enthalten, und analysiere diese.\n\nSag dem Nutzer immer, wenn du die Antwort nicht gefunden hast. Erfinde nichts, nur um ihn zufriedenzustellen.\n\nWenn du Bildlinks wie \"https://sb-ai-test.dakatos.online/storage/v1/object/n8nRAG/1764113346053_w9cars\" siehst, zeige sie im Chat immer im Markdown-Format an. Immer. Du musst die Bilder mit dem Text in der richtigen Reihenfolge angeben. Also nicht nur alle Bilder am Anfang und dann der Text, sondern Text + Bild -> Text + Bild usw."
        }
      },
      "id": "30c0b2f6-d7ec-4027-862c-b8652dc21032",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        592,
        352
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "f1867be8-87d3-49cd-a2ca-14335d9c9308",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LjQ5aJMSkH6PVQhJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1312,
        624
      ],
      "id": "d2c732f8-5ad5-4132-b0f1-d6df5c3ae03f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LjQ5aJMSkH6PVQhJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        576
      ],
      "id": "8d9059ef-5974-4ac3-b15f-9431c04b5e65",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LjQ5aJMSkH6PVQhJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": {
          "__rl": true,
          "value": "documents_pg",
          "mode": "list",
          "cachedResultName": "documents_pg"
        },
        "topK": 25,
        "useReranker": true,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1360,
        464
      ],
      "id": "86351e75-fa17-4c7f-9382-f12e7d42631d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "QqlImjx7TFvnIgOD",
          "name": "Supabase-API selfhosted"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Mistral OCR for Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trashed Files via API": {
      "main": [
        [
          {
            "node": "Parse Trashed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Trashed Files": {
      "main": [
        [
          {
            "node": "Check If Exists in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Exists in DB": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Trashed Files via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows1": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Delete Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "LangChain Code": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "LangChain Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Mistral OCR for Documents": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Task": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List Documents1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Set output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LangChain Code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3478e8c5-fa16-4989-baba-be96cda96f72",
  "meta": {
    "instanceId": "85f46842b7362d4d50da2a9e53a370bd3970fc12f5adeb44087284c40ee454be"
  },
  "id": "H5XP9BZn4fhhCEd7",
  "tags": []
}