n8n_workflows/RAG-Datenbank befüllen
{
  "name": "RAG-Datenbank befüllen",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HVq6bZM-hHXd1omnQDp3JXJnmB_YZL9h",
          "mode": "list",
          "cachedResultName": "AAM-RAG-Input",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HVq6bZM-hHXd1omnQDp3JXJnmB_YZL9h"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -112
      ],
      "id": "e38ca70a-7921-4708-98f2-a8f41b8fb367",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXJUSVgo0fGbieVA",
          "name": "Google Drive cl.shorty01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -112
      ],
      "id": "5e752dbd-72fb-4314-99f3-70ccb75d49c9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kXJUSVgo0fGbieVA",
          "name": "Google Drive cl.shorty01@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "AiWissensdatenbank",
          "mode": "list",
          "cachedResultName": "AiWissensdatenbank"
        },
        "options": {
          "queryName": "matchAiWissensDB"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -144,
        -112
      ],
      "id": "19d9eb09-22db-4fa3-884a-00aedef61462",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "KaSnkPw4B78xxaIE",
          "name": "Supabase AiKursRAG"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -32,
        48
      ],
      "id": "5553939c-7167-4f5b-8651-f1b064511cc3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        96,
        192
      ],
      "id": "ee860a3c-67a1-42fd-87b7-8f408b842de1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -192,
        96
      ],
      "id": "0812dfee-fcf1-47f7-a524-6002e758ade3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LjQ5aJMSkH6PVQhJ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6aaec6bd-1b14-4337-8651-25ccce5fa9c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85f46842b7362d4d50da2a9e53a370bd3970fc12f5adeb44087284c40ee454be"
  },
  "id": "62hmpi7OtQ374RIe",
  "tags": []
}